/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Navbar */
.navbar {
    padding: 1rem 2rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Header */
header {
    background-image: url('https://www.shutterstock.com/image-photo/generic-electric-ev-hybrid-vehicle-600nw-2313910359.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
}

header p {
    font-size: 1.2rem;
}

/* Productos */
#cards {
    display: flex;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    height: 150px;
    object-fit: cover;
}
